
.custom-radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    padding: 0;
    color: #252525;
  }
  

  .custom-radio:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px; 
    height: 8px;
    border-radius: 50%;
    background-color: #111827; 
  }
  

  
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

  @media (max-width: 767px) {
    .product-details-column {
        margin-top: 2rem;
    }
  }